<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>腾讯云使用信息</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<ink href="/static/top_level.css" rel="stylesheet"></ink>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="/host"></span> 云主机</a>
					</li>
					<li>
						<a href="/host"></span> mysql实例</a>
					</li>
					<li>
						<a href="/host"></span> redis实例</a>
					</li>
					<li>
						<a href="/host"></span> mongo实例</a>
					</li>
					<li>
						<a href="/project"></span> 项目成本</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- page content -->
	{% block page_content %}{% endblock %}
	<!-- /page content -->

</body>

</html>
